body {
  font-family: 'Roboto', sans-serif;
}

.thumbnail {
  margin: 15px 0;
}

/*mix*/
.p_top_80 {
  padding-top: 80px;
}
.p_bottom_80 {
  padding-bottom: 80px;
}

.m_top_30 {
  margin-top: 30px;
}
.m_bottom_30 {
  margin-bottom: 30px;
}
.m_bottom {
  margin-bottom: 15px;
}
.hamburger {
  display: inline-block;
  margin-top: 40px;
}

.bg_top {
  background-color: #2c3e50;
}

.bg_green {
  background-color: #1abc9c;
}

.btn_green {
  background-color: #1ABC9C;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
}

.btn_green .glyphicon {
  vertical-align: middle;
  line-height: 20px;
}

.btn_download {
  background-color: #1ABC9C;
  border: 2px solid #fff;
  padding: 15px 25px;
}

.btn_download:hover {
  background-color: #fff;
}
.btn_send {
  color: #fff;
  font-size: 20px;
  padding: 15px 25px;
  background-color: #1ABC9C;
}

.wrapper_small {
  max-width: 800px;
  margin: auto;
}

/*typo*/
h2 {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
}

h1 {
  font-weight: bold;
  font-size: 60px;
  padding: 10px 0;
}

h2 {
  font-size: 55px;
  font-weight: bold;
}

p {
  font-size: 20px;
}

/*header*/
.header_top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  color: #fff;
  width: 100%;
  height: 100px;
  line-height: 100px;
}

.top_logo, .top_menu {
  text-decoration: none;
  color: #fff;
  font-weight: 900;
  font-size: 24px;
}

.top_menu li {
  list-style: none;
  display: inline-block;
  padding: 0 15px;
  font-size: 18px;
}

/*jumbotron*/
.jumbo {
  padding-top: 200px;
  padding-bottom: 100px;
}
.jumbo img {
  width: 250px;
  margin: auto;
  margin-bottom: 48px;
}
.jumbo_text {
  margin: auto;
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 64px;
  padding-bottom: 20px;
}

.profilo {
  padding-top: 30px;
  color:#fff;
  font-weight: 400;
  font-size: 24px;
}
.stella {
  font-size: 35px;
  margin: 15px 0;
}
.stella i {
  color: #fff;
  margin: 0 5px;
}
.stella_dark i {
  color: #2c3e50;
}

.stella::before, .stella::after {
  content:"";
  display: inline-block;
  vertical-align: middle;
  height: 4px;
  width: 100px;
  background-color: #fff;
  vertical-align: middle;
  border-radius: 3px;
}

/*section*/
/*PORTFOLIO*/

.portfolio {
  color: #2c3e50;
}

.box  {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: #1abc9c;
  margin: auto;
}
.icon {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.thumbnail:hover .overlay {
  opacity: 0.8;
}

.fa-plus:hover {
  color: #fff;
}

.stella.stella_dark i {
  color: #2C3E50;
}

.stella.stella_dark::before, .stella.stella_dark::after {
  background-color: #2C3E50;
}
 /*ABOUT*/
 #about {
   color: #fff;
 }

/*contatti*/
#contatti {
  color: #2C3E50;
}

.modulo-contatti {
  max-width: 700px;
  display: block;
  text-align: center;
}

input {
outline: none;
width: 100%;
}

label {
  font-size: 20px;
  color: #6c757d;
  font-weight: lighter;
}
.form {
  border-bottom: 1px solid #e9ecef;
  padding-bottom: 0px;

  line-height: 20px;
  }

.form input[type=text], textarea{
  display: block;
  border: 0;
  height: calc(24px + 16px);
  padding-left: 10px;
  outline: 0;
 }
