
.top {
  background-color: darkblue;
  width: 100%;
}

.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  text-transform: uppercase;
}

a {
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.bg-verde {
  background-color: #7FFFD4;
  width: 100%;
}
